@font-face {
    font-family: 'Nunito Sans Regular';
    src: url('../fonts/NunitoSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Nunito Sans Italic';
    src: url('../fonts/NunitoSans-Italic.ttf') format('truetype');
}

@font-face {
    font-family: 'Yeseva One Regular';
    src: url('../fonts/YesevaOne-Regular.ttf') format('truetype');
}

:root {
    --dark-color-desktop: #131313;
    --dark-color: #181818;
    --beige-color: #E3B873;
    --white-color: #FFFFFF;
    --shadow-color: rgba(227, 184, 115, 0.2);
    --gray-color: rgba(255, 255, 255, 0.3);
    --blackout-color: rgba(0, 0, 0, 0.7);
    --gray_form-color: rgba(54, 54, 54, 0.5);
    --gray_text-color: #363636;
    --gray_lable-color:  rgba(255, 255, 255, 0.5);
    --input_border-color: rgba(54, 54, 54, 0.3);
    --div_shadow-color: rgba(0, 0, 0, 0.03);
    --div_shadow-color2: rgba(0, 0, 0, 0.04);
    
}

h1, h2, h3, h4, p, ul, ol, a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Nunito Sans Regular', "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    margin: 0;
}

.container {
    max-width: 1236px;
    margin: 0 auto;
}

.button {
    color: var(--white-color);
    background-color: var(--beige-color);
    text-transform: uppercase;
    border: 0;
    border-radius: 2px;
    box-shadow: 0px 5px 15px var(--shadow-color);
}

.title {
    font-family: "Yeseva One Regular", "Arial", "Helvetica", sans-serif;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: var(--white-color);
    font-weight: 400;
    margin-bottom: 19px;
}

.subtitle {
    font-family: "Yeseva One Regular", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--beige-color);
}

.icon {
    background-color: var(--beige-color);
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 5px 30px var(--shadow-color);
    border-radius: 50%;
    font-family: "Yeseva One Regular", "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    color: var(--white-color);
}

.section-logo {
    display: flex;
    align-items: center;
    gap: 9px;
    margin-bottom: 32px;
}

.section-line {
    width: 32px;
    height: 2px;
    background: var(--beige-color);
    border-radius: 30px;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form_lable {
    font-size: 13px;
    line-height: 21px;
    color: var(--gray_lable-color);
}

.form_input {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid var(--white-color);
    padding: 0;
    font-size: 14px;
    line-height: 23px;
    color: var(--white-color);
    background-color: transparent;
    font-family: 'Nunito Sans Regular', "Arial", "Helvetica", sans-serif;
    outline: 0;
}

.form_input::placeholder {
    color: var(--white-color);
}

.checkboxes {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.checkboxes+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.checkboxes+label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 0;
    border-radius: 1px;
    margin-right: 9px;
    background-color: var(--beige-color);
    background-repeat: no-repeat;
    background-position: center center;
  }

.checkboxes:checked+label::before {
    background-image: url("../images/icons/checkbox.svg");
}

.checkbox_label {
    font-size: 14px;
    line-height: 23px;
    color: var(--white-color);
}

.arrow-left, .arrow-right {
    display: none;
}

/* header footer */

.header, .footer {
    background-color: var(--dark-color-desktop);
}

.header_container, .footer_container {
    max-width: 1256px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px 0 ;
}

.header_link-style, .footer_link-style {
    color: var(--beige-color);
    font-size: 11px;
    text-transform: uppercase;
}

.header_menu, .footer_menu {
    margin-left: 35px;
}

.header_menu-list, .footer_menu-list{
    display: flex;
    gap: 57px;
}

.header_menu-item,  .footer_menu-item{
    color: var(--white-color);
}

.header_menu-item:hover, .footer_menu-item:hover {
    color: var(--beige-color);;
}

.header_btn, .footer_btn {
    font-family: 'Nunito Sans Italic', sans-serif;
    width: 161px;
    height: 37px;
    padding: 13px 33px;
    font-size: 11px;
    line-height: 15px;
    margin-left: 45px;
}

.footer_container {
    padding: 48px 0;
}

/* home section */

.home_section {
    background-image: url('../images/background/home_background.jpg');
    background-size: cover;
    height: 707px;
    position: relative;
}

.home_section-blackout {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background: var(--blackout-color);
}

.home_section_container {
    margin-top: 194px;
    max-width: 1171px;
}

.home_span {
    color: var(--beige-color);
}

.home_br_modile {
    display: none;
}

.home_br_desktop {
    display: inline;
}

.home_section-text {
    font-size: 22px; 
    line-height: 36px;
    color: var(--white-color);
    margin-bottom: 40px;
}

.home_section_btn {
    width: 207px;
    height: 51px;
    padding: 20px 0;
    background-color: transparent;
    font-family: 'Nunito Sans Italic', "Arial", "Helvetica", sans-serif;
    border: 1px solid var(--white-color);
    margin-right: 20px;
    box-shadow: none;
    font-size: 11px;
    line-height: 15px;
}

.home_section_btn:hover {
    box-shadow: 0px 5px 15px var(--shadow-color);
    background-color: var(--beige-color);
}

/* projects section */

.projects_section {
    background-color: var(--dark-color-desktop);
}

.projects_section-container {
    padding: 107px 0 414px;
    max-width: 1171px;
}

.projects_section-top {
    grid-area: grid-top;
}

.projects_section-left-title {
    grid-area: grid-left-title;
}

.projects_section-left-main {
    grid-area: grid-left-main;
    display: grid;
    grid-template-columns: 185px 185px;
    grid-row-gap: 30px;
}

.projects_section-left-slide {
    grid-area: grid-left-slide;
    display: flex;
    align-items: end;
}

.projects_section-right {
    grid-area: grid-right;
}

.projects_section-grid {
    display: grid;
    grid-template-areas: 
    " . grid-top"
    "grid-left-title grid-right"
    "grid-left-main grid-right"
    "grid-left-slide grid-right";
    gap: 54px; 
}

.projects_section-menu {
    display: flex;
    gap: 60px;
}

.projects_menu-item {
    font-size: 14px;
    line-height: 19px;
    color: var(--gray-color);
}

.projects_menu-item:hover {
    color: var(--beige-color);
    border-bottom: 1px  var(--beige-color) solid;
    padding-bottom: 7px;
    cursor: pointer;
}

.projects_section-title {
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    margin-bottom: 33px;
}

.projects_section-main_text {
    font-size: 14px;
    line-height: 27px;
    color: var(--white-color);
}

.projects_section-subtitle {
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 8px;
}

.projects_section-text {
    font-size: 13px;
    line-height: 21px;
    color: var(--white-color);
}

.projects_section-slide-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 206px;
}

.projects_section-slide-item {
    height: 13px;
    display: flex;
    align-items: center;
}

.projects_section-slide-points {
    display: flex;
    gap: 18px;
}

.slide-navigation-point {
    background: var(--gray-color);
    border-radius: 30px;
    width: 10px;
    height: 10px;
}

.slide-navigation-point:hover {
    background: var(--white-color);
}

.projects_section-img {
    height: 483px;
}

.projects_section-icon {
    display: none;
}

/* control section */

.control_section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -323px;
    margin-bottom: 147px;
}

.control_section-subtitle {
    color: var(--white-color);
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 20px;
}

.control_section-blackout {
    position: relative;
}

.control_section-img {
    height: 434px;
    filter: brightness(15%);
    z-index: -1;
    margin-bottom: 63px;
}

.control_section-play {
    width: 85px;
    height: 85px;
    position: absolute;
    top: 174px;
    left: 365px;
}

.control_section-play-img {
    padding: 29px;
    padding-left: 35px;
}

.control_section-separation {
    width: 55px;
    height: 2px;
    background: var(--beige-color);
    margin-bottom: 35px;
}

.control_section-text-container {
    max-width: 681px;
    text-align: center;
}

.control_section-text {
    font-size: 18px;
    line-height: 37px;
    color: var(--gray_text-color);
    margin-bottom: 91px;
}

.control_form-group-name {
    grid-area: name;
}

.control_form-group-phone {
    grid-area: phone;
}

.control-form-button {
    grid-area: button;
}

.control_form-checkbox {
    grid-area: checkbox;
}

.control_section-form {
    display: grid;
    grid-template-areas: 
    "name phone button"
    "checkbox checkbox checkbox";
    grid-row-gap: 43px;
    grid-column-gap: 56px;
    justify-items: center;
}

.control_form-lable {
    color: var(--gray_form-color);
}

.control_form-input {
    color: var(--gray_text-color);
    width: 231px;
    border-bottom: 1px solid var(--input_border-color);
    border: 0;
    border-radius: 0;
}

.control_form-input::placeholder {
    color: #363636;
}

.control_checkbox-lable {
    color: var(--dark-color);
}

.control_btn {
    width: 200px;
    height: 51px;
    padding: 20px;
}

/* repair section */

.repair_section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1171px;
}

.repair_section-subtitle {
    color: var(--dark-color);
    margin-bottom: 20px;
    font-size: 20px;
    line-height: 28px;
}

.repair_section-flex {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.repair_section-flex-main {
    background-color: var(--white-color);
    box-shadow: 10px 10px 20px var(--div_shadow-color);
    margin: -127px 31px 0;
    position: relative; 
    z-index: 1;
    padding-bottom: 49px;
}

.repair_section-flex-subtitle {
    text-transform: capitalize;
    font-size: 18px;
    line-height: 25px;
    color: var(--gray_text-color);
    margin-bottom: 13px;
    padding-top: 25px;
    padding-left: 34px;
}

.repair_section-flex-list {
    color: #959595;
    font-weight: 400;
    font-size: 13px;
    line-height: 27px;
    padding-left: 34px;
    list-style: disc;
    list-style-position: inside;
}

.repair_section-button {
    margin-top: -27px;
}

.repair_btn {
    width: 228px;
    height: 54px;
    margin-left: 34px;
    font-family: "Yeseva One Regular", "Arial", "Helvetica", sans-serif;
    font-size: 18px;
    line-height: 25px;
    position: relative;
    z-index: 1;
}

/* measurements section */

.measurements_section-background {
    background-image: url('../images/background/measmurent_background.jpg');
    background-repeat: no-repeat;
    height: 645px;
    margin-top: 125px;
    margin-bottom: 328px;
}

.measurements_section-main {
    display: flex;
    justify-content: space-between;
    padding-top: 110px;
}

.measurements_section-left {
    display: flex;
    flex-direction: column;
    gap: 94px;
    padding-left: 137px; 
}

.measurements_section-list-item {
    display: flex;
    align-items: center;
    gap: 17px;
}

.measurements_section-icon {
    width: 42px;
    height: 42px;
    border: 8px solid var(--white-color);
}

.measurements_section-text {
    color: var(--gray_text-color);
}

.measurements_section-right {
    background-color: var(--dark-color-desktop);
    padding: 28px 49px;
    width: 408px;
}

.measurements_section-form-title {
    font-size: 18px;
    line-height: 26px;
    font-style: normal;
    font-weight: 400;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 39px;
}

.measurements_section-form-group {
    margin-bottom: 48px;
}

.measurements_section-checkbox {
    margin-top: 16px;
    margin-bottom: 39px;
}

.measurements_section-button {
    display: flex;
    justify-content: end;
}

.measurements-button {
    width: 213px;
    height: 51px;
}

.measurements_section-icon-money {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
    margin-top: 38px;
    padding-right: 164px;
}

.measurements-icon-money {
    width: 72px;
    height: 72px;
}

.measurements-icon-text {
    font-size: 18px;
    line-height: 26px;
    color: var(--beige-color);
    text-shadow: 0px 3px 10px rgba(227, 184, 115, 0.15);
}

/* gallery section */

.gallery_section {
    background-image: url('../images/background/gallery_background.jpg');
    background-size: cover;
    position: relative;
    height: 864px;
}

.gallery_section-blackout {
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.75) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.gallery_section-container {
    display: flex;
    justify-content: space-between;
}

.gallery_section-left {
    margin-top: 137px;
}

.gallery_section-title {
    font-size: 27px;
    line-height: 37px;
    margin-bottom: 47px;
}

.gallery_section-list li {
    margin: 10px 0;
}

.gallery_list-item {
    font-size: 20px;
    line-height: 38px;
    color: var(--white-color);
}

.gallery_list-item:hover {
    color: var(--beige-color);
    border-bottom: 1px  var(--beige-color) solid;
    padding-bottom: 7px;
    cursor: pointer;
}

.gallery_section-right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.gallery-img1 {
    margin-top: -40px;
}

.gallery-img2 {
    margin-top: -113px;
}

.gallery-img4 {
    margin-top: -357px;
}

.gallery_section-slide {
    display: none;
}

/* clients section */

.clients_section-container {
    margin-top: 112px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients_section-subtitle {
    color: var(--dark-color);
    font-size: 20px;
    line-height: 28px;
}

.clients_section-logo {
    margin-top: 13px;
    margin-bottom: 24px;
}

.clients_section-text {
    font-size: 18px;
    line-height: 29px;
    color: var(--gray_text-color);
    text-align: center;
    margin-bottom: 39px;
}

.clients_section-clients {
    display: flex;
    justify-content: space-between;
    gap: 54px;
}

.clients_section-clients-item {
    padding: 41px 23px 67px 20px;
    box-shadow: 0px 10px 50px var(--div_shadow-color2);
}

.clients_section-clients-head {
    display: flex;
    align-items: center;
    gap: 23px;
    margin-bottom: 20px;
}

.clients_img {
    width: 76px;
    height: 76px;
    border-radius: 50%;
}

.clients_section-clients-name {
    font-size: 18px;
    line-height: 23px;
    color: var(--dark-color);
    text-transform: capitalize;
}

.clients_section-clients-text {
    font-size: 13px;
    line-height: 23px;
    color: #959595;
}

.clients_section-colums {
    display: flex;
    width: 294px;
    align-items: center;
    gap: 1px;
    margin-top: -27px;
}

.clients_section-colums-left {
    padding-left: 17px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 135px;
    height: 54px;
    border-radius: 0%;
}

.clients_section-colums-right {
    padding-left: 17px;
    display: flex;
    align-items: center;
    gap: 15px;
    width: 159px;
    height: 54px;
    border-radius: 0%;
}

.clients_section-colums-span {
    font-family: 'Yeseva One Regular', "Arial", "Helvetica", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    text-transform: uppercase;
}

.clients_section-background {
    display: flex;
    background-position: bottom;
    margin-top: -50px;
    
}

.clients_section-background-img1 {
    background-image: url('../images/background/clients_background.jpg');
    height: 449px;
    opacity: 0.1;
    width: 100%;
    
}

.clients_section-background-img2 {
    background-image: url('../images/background/clients_background.jpg');
    height: 449px;
    opacity: 0.1;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    width: 100%;
}

/* contacts section */

.contacts_section {
    background-image: url('../images/background/contacts_background.jpg');
    background-size: cover;
    position: relative;
    height: 954px;
}

.contacts_section-blackout {
    position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
    background: linear-gradient(109.8deg, rgba(0, 0, 0, 0.83) 0%, rgba(0, 0, 0, 0.9) 100%);
}

.contacts_section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contacts_section-form-container {
    margin-top: -223px;
    margin-bottom: 52px;
    width: 883px;
    background-color: var(--dark-color);
}

.contacts_section-form {
    padding: 35px 182px;
}

.contacts_section-form-title {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    color: var(--white-color);
    margin-bottom: 45px;
}

.contacts_section-form-flex {
    display: flex;
    flex-direction: column;
}

.contacts_section-form-flex-top {
    display: flex;
    justify-content: space-between;
    gap: 58px;
    margin-bottom: 49px;
}

.contacts_section-form-group {
    width: 231px;
}

.contacts_section-checkbox {
    margin-top: 47px;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}

.contacts_section-button {
    display: flex;
    justify-content: center;
}

.contacts-button {
    width: 200px;
    height: 51px;
}

.contacts_section-address-text {
    font-size: 20px;
    line-height: 28px;
    text-align: center;
    margin-bottom: 30px;
}

.contacts_section-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 43px;
}

.contacts_br-mob {
    display: none;
}

/* mobile */


@media screen and (max-width: 768px) {
    
    body {
        background-color: var(--dark-color);
    }

    .container {
        max-width: 340px;
        margin: 0 auto;
    }

    .title {
        font-size: 23px;
        line-height: 132.83%;
    }

    .arrow-left {
        position: absolute;
        top: 103px;
        left: 14px;
        display: flex;
    }

    .arrow-right {
        top: 103px;
        left: 291px;
        position: absolute;
        display: flex;
    }

    .header {
        background-color: var(--dark-color);
    }

    .header_menu, .header_btn {
        display: none;
    }

    .header_link-phone{
        color: var(--white-color);
        text-decoration: none;
    }

    .footer {
        display: none;
    }

    .home_section{
        background-image: url('../images/background/home_background-mobile.jpg');
        height: 476px;  
    }

    .home_section_container {
        margin-top: 85px;
    }
    
    .home_section-text {
        font-size: 14px;
        line-height: 19px;
        margin-bottom: 55px;
    }

    .home_br_modile {
        display: inline;
    }

    .home_br_desktop, .home_span_app{
        display: none;
    }
    
    .home_section_btn {
        width: 338px;
        margin-bottom: 26px;
        margin-right: 0;
    }

    .projects_section {
        background-color: var(--dark-color);
    }

    .projects_section-container {
        padding-top: 36px;
    }

    .projects_section-top, .projects_section-slide-navigation {
        display: none;
    }

    .projects_section-grid {
        grid-template-areas: 
        "grid-left-title"
        "grid-right"
        "grid-left-main";
        gap: 0;
    }
    
    .projects_section-left-main {
        grid-template-columns: 170px 170px;
    }
    
    .projects_section-title {
        font-size: 22px;
        line-height: 30px;
        text-align: center;
        margin-bottom: 36px;
    }

    .projects_section-main_text {
        font-size: 11px;
        text-align: center;
        line-height: 17px;
        margin-bottom: 74px;
    }

    .projects_section-subtitle {
        font-size: 14px;
        line-height: 19px;
    }

    .projects_section-text {
        margin-bottom: 27px;
        font-size: 11px;
        line-height: 18px;
    }

    .projects_section-img {
        height: 242px;
        content: url('../images/projects_image-slide2.jpg');
        margin-bottom: 74px;
    }
    
    .projects_section-right {
        position: relative;
    }

    .control_section {
        background-color: var(--dark-color);
    }
    .control_section-container {
        margin-top: -340px;
    }

    .control_section-subtitle {
        font-size: 22px;
        line-height: 30px;
    }

    .control_section-img {
        height: 207px;
        width: 340px;
    }

    .control_section-play {
        width: 37px;
        height: 37px;
        top: 85px;
        left: 150px;
    }

    .control_section-play-img {
        width: 12px;
        height: 12px;
        padding: 0;
    }

    .control_section-text {
        font-size: 11px;
        line-height: 19px;
        text-align: center;
        color: var(--white-color);
        margin-bottom: 74px;
    }

    .control_section-form {
        grid-template-areas: 
        "name "
        "phone"
        "checkbox"
        "button";
        justify-items: start;
        gap: 0;
    }

    .control_form-group-name {
        margin-bottom: 63px;
    }
    
    .control_form-group-phone {
        margin-bottom: 27px;
    }
    
    .control_form-checkbox {
        margin-bottom: 62px;
    }

    .control_form-lable {
        color: var( --gray_lable-color);
    }
    
    .control_form-input {
        color: var(--white-color);
        background-color: transparent;
        border-bottom: 1px solid var(--white-color);
        width: 340px;
    }
    
    .control_checkbox-lable {
        color: var(--white-color);
    }

    .control_form-input::placeholder {
        color: var(--white-color);
    }

    .control_btn {
        width: 340px;
    }

    .repair_section {
        background-color: var(--white-color);
        margin-top: -25px;
        padding-top: 89px;
    }
    .repair_section-flex {
        flex-direction: column;
    }

    .repair_section-flex-main, .repair_btn {
        margin-left: 0;
        margin-right: 70px;
    }

    .repair_section-subtitle {
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 17px;
    }

    .repair_section-flex-subtitle {
        font-size: 15px;
        line-height: 21px;
    }

    .repair_section-flex-list {
        line-height: 22px;
    }

    .repair_section-img {
        width: 340px;
    }
    
    .repair_btn {
        width: 190px;
        height: 40px;
        font-size: 15px;
        line-height: 21px;
    }

    .measurements_section {
        display: none;
    }

    .gallery_section {
        background-image: none;
        background-color: var(--white-color);
        height: 268px;
    }

    .gallery_section-blackout {
        background: transparent;
    }

    .gallery_section-container {
        display: block;
    }

    .gallery_section-left {
        margin-top: 55px;
    }

    .gallery_section-title {
        text-align: center;
        font-size: 22px;
        line-height: 30px;
        margin-bottom: 24px;
    }

    .gallery_section-list {
        display: none;
    }

    .gallery_section-right {
        display: none;
    }

    .gallery_section-slide-img {
        width: 340px;
    }

    .gallery_section-slide {
        display: block;
        position: relative;
    }

    .gallery_section-icon {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 103px;
        left: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery_section-icon-right {
        top: 103px;
        left: 291px;
    }

    .gallery_section-arrow {
        padding: 5px 16px 0 14px;
    }

    .clients_section {
        display: none;
    }

    .contacts_section {
        background-image: none;
    }

    .contacts_section-blackout {
        background: transparent;
    }

    .contacts_section-container {
        padding-top: 173px;
    }

    .contacts_section-form-container {
        margin-top: 0px;
        width: 340px;
        background-color: var(--dark-color);
    }

    .contacts_section-form {
        padding: 0;
    }

    .contacts_section-form-flex-top {
        gap: 0;
        flex-direction: column;
        margin: 0;
    }

    .contacts_section-form-group {
        width: 100%;
        margin-bottom: 36px;
    }

    .contacts_section-checkbox {
        justify-content: start;
        margin-top: 21px;
        margin-bottom: 67px;
    }

    .contacts-button {
        width: 100%;
    }

    .contacts_section-address {
        display: flex;
        flex-direction: column;
    }

    .contacts_section-address-text {
        order: 1;
    }

    .contacts_section-icons {
        order: 1;
    }
    
    .contacts_section-address-container {
        margin-bottom: 42px;
        height: 255px;

    }

    .contacts_section-address-img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .contacts_section-address-text {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 24px;
    }

    .contacts_section-icon {
        width: 39px;
        height: 39px;
        margin-bottom: 49px;
    }

    .contacts_br-desk {
        display: none;
    }

    .contacts_br-mob {
        display: inline;
    }
 }

 @media screen and (min-width: 769px) and (max-width: 1300px) {
    
    .container {
        max-width: 700px;
    }

    .arrow-left {
        position: absolute;
        top: 203px;
        left: 14px;
        display: flex;
        width: 60px;
    }

    .arrow-right {
        top: 203px;
        left: 626px;
        position: absolute;
        display: flex;
        width: 60px;
    }

    .header {
        background-color: var(--dark-color);
    }
    
    .header_menu, .header_btn {
        display: none;
    }

    .header_link-phone{
        color: var(--white-color);
        text-decoration: none;
    }

    .footer {
        display: none;
    }

    .projects_section {
        background-color: var(--dark-color);
    }
    
    .projects_section-top, .projects_section-slide-navigation {
        display: none;
    }

    .projects_section-grid {
        grid-template-areas: 
        "grid-left-title"
        "grid-right"
        "grid-left-main";
        gap: 0;
    }

    .projects_section-title,  .projects_section-main_text {
        text-align: center;
        margin-bottom: 60px;
    }

    .projects_br {
        display: none;
    }

    .projects_section-right {
        position: relative;
    }

    .projects_section-img {
        width: 700px;
        content: url('../images/projects_image-slide2.jpg');
        margin-bottom: 74px;
    }

    .control_section-img {
        width: 700px;
    }

    .control_section-play {
        width: 80px;
        height: 80px;
        position: absolute;
        top: 174px;
        left: 308px;
    }

    .control_section-form {
        column-gap: 25px;
    }

    .control_form-input {
        width: 200px;
    }

    .repair_section-flex {
        flex-direction: column;
    }

    .measurements_section {
        display: none;
    }

    .gallery_section {
        background-image: none;
        background-color: var(--white-color);
        height: 268px;
    }

    .gallery_section-blackout {
        background: transparent;
    }

    .gallery_section-list {
        display: none;
    }

    .gallery_section-right {
        display: none;
    }
    
    .gallery_section-container {
        display: block;
    }

    .gallery_section-slide {
        display: block;
        position: relative;
    }

    .gallery_section-title {
        text-align: center;
    }

    .gallery_section-slide-img {
        width: 700px;
    }

    .gallery_section-icon {
        width: 36px;
        height: 36px;
        position: absolute;
        top: 103px;
        left: 14px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .gallery_section-icon-right {
        top: 103px;
        left: 291px;
    }

    .gallery_section-arrow {
        padding: 5px 16px 0 14px;
    }
    

    .clients_section-container {
        margin-top: 564px;
    }

    .clients_section-clients {
        flex-direction: column;
    }

    .clients_section-clients-item {
        max-width: 318px;
    }

    .clients_section-clients-text {
        text-align: justify;
    }
    
    .contacts_section-form-container {
        width: 700px;
        background-color: var(--dark-color);
    }

    .contacts_section-form {
        padding: 35px 110px;
    }
    
    .contacts_section-address-img {
        width: 700px;
    }

}
